<ion-header> 
  <ion-toolbar> 
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/"></ion-back-button> 
    </ion-buttons> 
    <ion-title>Cadastro</ion-title> 
  </ion-toolbar> 
</ion-header> 

<ion-content> 
  <div>
    <div>
      <h1>Cadastro</h1>
      <p>Faça o cadastro para acessar a sua conta no Academic.</p>
      <form>
        <ion-item> 
          <ion-label position="floating">CPF</ion-label> 
          <ion-input type="text" placeholder="Digite seu CPF" name="cpf" [(ngModel)]="usuario.cpf"></ion-input>
        </ion-item> 
        <ion-item> 
          <ion-label position="floating">Nome Completo</ion-label> 
          <ion-input type="text" placeholder="Digite seu nome completo" name="nome" [(ngModel)]="usuario.nome"></ion-input>
        </ion-item> 
        <ion-item> 
          <ion-label position="floating">E-mail</ion-label> 
          <ion-input type="text" placeholder="Digite seu e-mail" name="email" [(ngModel)]="usuario.email"></ion-input>
        </ion-item> 
        <ion-item> 
          <ion-label position="floating">Senha</ion-label> 
          <ion-input type="text" placeholder="Digite sua senha" name="senha" [(ngModel)]="usuario.senha"></ion-input>
        </ion-item> 
        <ion-button (click)="cadastrar()"> 
          Cadastrar-se
        </ion-button> 
      </form>
      <p>Já possui cadastro? Entrar</p>
    </div>
    <div class="img_cadastro">
      <img src="../assets/img_cadastro.png">
    </div>
  </div>
</ion-content>