<ion-header [translucent]="true">
  <ion-toolbar id="barraDeFerramentas">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons class="opcoes" slot="end">
      <ion-item lines="none">
        <ion-label>Para Instituições</ion-label>
      </ion-item>
      <ion-item lines="none"> 
        <ion-label>Para Estudantes</ion-label>
      </ion-item>
      <div style="border-left:1px solid #000;height:35px"></div>
      <ion-item [routerLink]="['/meustrabalhos-system']" lines="none">
        <ion-label>Trabalhos</ion-label>
      </ion-item>
      <ion-item [routerLink]="" lines="none">
        <ion-label>Perfil</ion-label>
      </ion-item>
    </ion-buttons>
    <ion-title [routerLink]="['/homepage-system']">Academic</ion-title>
  </ion-toolbar>
</ion-header>

<ng-template #carregando>
  Carregando Modelos...
</ng-template>

<ion-content [fullscreen]="true">
  <section id="cabecalho">
    <ion-text>
      <h1>Modelos</h1>
      <div>
        <ion-searchbar class="p_desk" placeholder="Pesquise por modelos" searchIcon="search-sharp" [debounce]="250"  inputMode="text"></ion-searchbar>
        <ion-searchbar class="p_mobile" placeholder="Pesquisar" searchIcon="search-sharp" [debounce]="250"  inputMode="text"></ion-searchbar>
      </div>
    </ion-text>
  </section>
  <section id="modelo">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-card [routerLink]="['/edicaotrabalho-system']">
            <ion-card-content>
              <ion-card-title>Resumo Expandido</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="3">
          <ion-card>
            <ion-card-content>
              <ion-card-title>Resumo Expandido</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="3">
          <ion-card>
            <ion-card-content>
              <ion-card-title>Resumo Expandido</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
