<!-- my-modal.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{tituloModal}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-input type="text" placeholder="Nome do trabalho" name="nomeTrabalho" [(ngModel)]="trabalho.nome"></ion-input>
  <ion-input type="text" placeholder="Descrição do trabalho" [(ngModel)]="trabalho.descricao"></ion-input>
  <ion-button id="botaoAlteracoes" (click)="salvarAlteracoesTrabalho()" expand="block">
    Salvar alterações
  </ion-button>
  <div *ngIf="listaTag | async as tag">
    <ion-chip (click)="inserirExcluirTag(tag.codigo)" outline color="azul" *ngFor="let tag of tag">
      {{tag.categoria}}
    </ion-chip>
  </div>
</ion-content>
