<ion-header [translucent]="true">
  <ion-toolbar id="barraDeFerramentas">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons class="opcoes" slot="end">
      <ion-item lines="none">
        <ion-label>Para Instituições</ion-label>
      </ion-item>
      <ion-item lines="none"> 
        <ion-label>Para Estudantes</ion-label>
      </ion-item>
      <div style="border-left:1px solid #000;height:35px"></div>
      <ion-item [routerLink]="['/cadastro']" lines="none">
        <ion-label>Cadastrar</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/entrar']" lines="none">
        <ion-label>Entrar</ion-label>
      </ion-item>
    </ion-buttons>
    <ion-title [routerLink]="['/folder']">Academic</ion-title>
  </ion-toolbar>
</ion-header>

<ng-template #carregando>
  <section id="instituicoes">
    <div id="desenho"><img src="../assets/Formando - Instituições.svg"></div>
    <div id="texto">
      <div>
        <ion-text>
          <h1>Instituições</h1>
        </ion-text>
        <ion-text>
          <p>Instituções podem mostrar seus potenciais em produções acadêmicas. Certifique trabalhos acadêmicos feitos no âmbito da instituição e dê maior visibilidade para estudantes.</p>
        </ion-text>
      </div>
    </div>
  </section>
  <section id="estudantes">
    <div id="texto">
      <div>
        <ion-text>
          <h1>Estudantes</h1>
        </ion-text>
        <ion-text>
          <p>Produza e compatilhe seus TCCs, dissertações, artigos e outros tipos de trabalhos escritos.</p>
        </ion-text>
      </div>
    </div>
    <div id="desenho"><img src="../assets/Livro - Estudantes.svg"></div>
  </section>
</ng-template>

<ion-content [fullscreen]="true">
  <section id="cabecalho">
    <ion-text>
      <h1>Bem vindo ao Academic!</h1>
      <div>
        <p class="p_desk">Morbi in quam luctus, euismod ligula quis, porttitor eros. Mauris at sodales ex, id laoreet quam. Suspendisse potenti. Etiam orci ipsum, malesuada eget vulputate ut, pulvinar quis leo. Donec ut posuere tortor. Curabitur egestas hendrerit tortor, id vehicula nibh varius a. Nam vel dictum ante. Integer bibendum dolor lacus, et pellentesque augue convallis ut.</p>
        <p class="p_mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at luctus leo.</p>
        <ion-searchbar class="p_desk" placeholder="Pesquise por artigos" searchIcon="search-sharp" [debounce]="250"  inputMode="text" (ionChange)="pesquisar()" [(ngModel)]="pesquisa.pesquisa"></ion-searchbar>
        <ion-searchbar class="p_mobile" placeholder="Pesquisar" searchIcon="search-sharp" [debounce]="250"  inputMode="text" (ionChange)="pesquisar()" [(ngModel)]="pesquisa.pesquisa"></ion-searchbar>
      </div>
    </ion-text>
  </section>
  <ion-grid *ngIf="listaTrabalho | async as trabalho; else carregando">
    <ion-row>
      <ion-col size="3" *ngFor="let trab of trabalho">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{trab.nome}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>{{trab.descricao}}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <section id="rodape">
    <div id="barra01"></div>
    <div id="barra02">
      <div>
        <ion-text>
          <h1>Academic</h1>
        </ion-text>
      </div>
    </div>
  </section>
</ion-content>
