// Barra de Ferramentas
#barraDeFerramentas{
    --background: white;
    padding: 0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.250);
    width: 100%;
    padding: 0% 0% 0% 12%;
}
  
ion-menu-button {
    color: #2F77FF;
    display: none;
}
  
#barraDeFerramentas ion-title {
    color: #2F77FF;
    font-weight: 900;
    font-style:italic;
    font-size: 24px;
}

#barraDeFerramentas a{
    text-decoration: none;
}

#barraDeFerramentas .opcoes{
    padding: 0% 12% 0% 0% ;
}
  
#barraDeFerramentas ion-item {
    color: #344057;
    font-size: 18px;
    box-shadow: none;
}

// Cabeçalho
#cabecalho {
    width: 100%;
    padding: 5% 12%;
    background-color: #2F77FF;
    color: white;
    text-align: center;
  }
  
  #cabecalho ion-text h1 {
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 2%;
    margin: 0;
  }
  
  #cabecalho ion-text div {
    max-width: 700px;
    margin: auto;
    padding: 0;
  }
  
  #cabecalho ion-text div p {
    font-size: 18px;
    font-weight: 250;
    text-align: justify;
  }
  
  #cabecalho ion-text div .p_desk{
    display: block;
  }
  
  #cabecalho ion-text div .p_mobile{
    display: none;
  }
  
  #cabecalho ion-text div ion-searchbar {
    --background: white;
    --border-radius: 5px;
    --box-shadow: none;
    --icon-color: #2F77FF;
    --cancel-button-color: #2F77FF;
    --clear-button-color: #2F77FF;
    text-align: left;
    --color: #344057;
    --placeholder-color: #344057;
    --placeholder-opacity: 100%;
    --placeholder-font-weight: 300;
    padding: 0;
    margin: 0;
  }