<ion-header [translucent]="true">
  <ion-toolbar id="barraDeFerramentas">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons class="opcoes" slot="end">
      <ion-item lines="none">
        <ion-label>Para Instituições</ion-label>
      </ion-item>
      <ion-item lines="none"> 
        <ion-label>Para Estudantes</ion-label>
      </ion-item>
      <div style="border-left:1px solid #000;height:35px"></div>
      <ion-item [routerLink]="['/meustrabalhos-system']" lines="none">
        <ion-label>Trabalhos</ion-label>
      </ion-item>
      <ion-item [routerLink]="" lines="none">
        <ion-label>Perfil</ion-label>
      </ion-item>
    </ion-buttons>
    <ion-title [routerLink]="['/homepage-system']">Academic</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title id="barraDeTarefas">
      <div>
        <ion-grid fixed>
          <ion-row>
            <ion-col><ion-text onclick="execCmd('bold');"><strong>N</strong></ion-text></ion-col>
            <ion-col><ion-text onclick="execCmd('italic');"><em>I</em></ion-text></ion-col>
            <ion-col><ion-text onclick="execCmd('underline');"><ins>U</ins></ion-text></ion-col>
            <ion-col><ion-text onclick="execCmd('strikeThrough');"><del>S</del></ion-text></ion-col>
            <ion-col><ion-text onclick="execCmd('superscript');">X<sup>n</sup></ion-text></ion-col>
            <ion-col><ion-text onclick="execCmd('subscript');">X<sub>n</sub></ion-text></ion-col>
            <ion-col><ion-text onclick="execCommandWithArg('createLink', prompt('Adicione uma URL:', 'http://'));"><ion-icon name="link-sharp" id="icone"></ion-icon></ion-text></ion-col>
            <ion-col><ion-text onclick="execCmd('unlink');"><ion-icon name="unlink-sharp" id="icone"></ion-icon></ion-text></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <select style="width: 65px" id="inputText" onchange="execCommandWithArg('fontName', this.value);">
                
                <option value="Times New Roman">Times New Roman</option><option value="Arial">Arial</option>
                <option value="Courier">Courier</option>
                <option value="Georgia">Georgia</option>
                <option value="Tahoma">Tahoma</option>
              </select>
            </ion-col>
            <ion-col>
              <select id="inputText" onchange="execCommandWithArg('fontSize', this.value);">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>
            </ion-col>
            <ion-col><input type="color" onchange="execCommandWithArg('foreColor', this.value);"/></ion-col>
            <ion-col><input type="color" onchange="execCommandWithArg('hiliteColor', this.value);"/></ion-col>
            <ion-col><ion-icon name="image-sharp" onclick="execCommandWithArg('insertImage', prompt('URL da imagem: ', ''));" id="icone"></ion-icon></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12"><p>Texto</p></ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid fixed>
          <ion-row>
            <ion-col><ion-icon id="icone" name="list-sharp" onclick="execCmd('insertUnorderedList');"></ion-icon></ion-col>
            <ion-col><ion-icon id="icone" src="assets/orderedlist-sharp.svg" onclick="execCmd('insertOrderedList');"></ion-icon></ion-col>
            <ion-col><ion-icon id="icone" name="arrow-back-sharp" onclick="execCmd('undo');"></ion-icon></ion-col>
            <ion-col><ion-icon id="icone" name="arrow-forward-sharp" onclick="execCmd('redo');"></ion-icon></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><ion-icon id="icone" src="assets/alignleft-sharp.svg" onclick="execCmd('justifyLeft');"></ion-icon></ion-col>
            <ion-col><ion-icon id="icone" src="assets/alignright-sharp.svg" onclick="execCmd('justifyRight');"></ion-icon></ion-col>
            <ion-col><ion-icon id="icone" src="assets/aligncenter-sharp.svg" onclick="execCmd('justifyCenter');"></ion-icon></ion-col>
            <ion-col><ion-icon id="icone" src="assets/alignjustify-sharp.svg" onclick="execCmd('justifyFull');"></ion-icon></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12"><p>Organização</p></ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid fixed>
          <ion-row>
            <ion-col>
              Dir.
              <select id="inputText">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>
            </ion-col>
            <ion-col>
              Esq.
              <select id="inputText">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Topo
              <select id="inputText">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>
            </ion-col>
            <ion-col>
              Baixo
              <select id="inputText">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12"><p>Margem</p></ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid fixed>
          <ion-row>
            <ion-col><ion-icon name="save-sharp" id="icone"></ion-icon></ion-col>
            <ion-col><ion-icon name="trash-sharp" id="icone"></ion-icon></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><ion-icon name="people-circle-sharp" id="icone"></ion-icon></ion-col>
            <ion-col><ion-icon name="eye-off-sharp" id="icone"></ion-icon></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12"><p>Opções</p></ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe id="textField" name="textField" seamless="seamless" scrolling="no" frameborder="0">texto</iframe>
  
</ion-content>
