<ion-header [translucent]="true">
  <ion-toolbar id="barraDeFerramentas">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons class="opcoes" slot="end">
      <ion-item *ngIf="booleanUsuario" [routerLink]="['/meustrabalhos-system']" lines="none">
        <ion-label>Trabalhos</ion-label>
      </ion-item>
      <ion-item *ngIf="booleanInstituicao" [routerLink]="['/meusmodelos-system']" lines="none">
        <ion-label>Modelo</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/perfil']" lines="none">
        <ion-label>Perfil</ion-label>
      </ion-item>
    </ion-buttons>
    <ion-buttons class="opcoesIcones" slot="end">
      <ion-item *ngIf="booleanUsuario" [routerLink]="['/meustrabalhos-system']" lines="none">
        <ion-icon id="icone" name="clipboard-sharp" ></ion-icon>
      </ion-item>
      <ion-item *ngIf="booleanInstituicao" [routerLink]="['/meusmodelos-system']" lines="none">
        <ion-icon id="icone" name="clipboard-sharp" ></ion-icon>
      </ion-item>
      <ion-item [routerLink]="['/perfil']" lines="none">
        <ion-icon id="icone" name="body-sharp"></ion-icon>
      </ion-item>
    </ion-buttons>
    <ion-input *ngIf="booleanUsuario" type="text" placeholder="Título do trabalho" value="{{trabalho.nome}}" [(ngModel)]="trabalho.nome"></ion-input>
    <ion-input *ngIf="booleanInstituicao" type="text" placeholder="Título do Modelo" value="{{modelo.nome}}" [(ngModel)]="modelo.nome"></ion-input>
  </ion-toolbar>
  <ion-toolbar>
    <div id="barraDeTarefas">
      <div>
        <ion-grid fixed>
          <ion-row>
            <ion-col><ion-text onclick="execCmd('bold');"><strong>N</strong></ion-text></ion-col>
            <ion-col><ion-text onclick="execCmd('italic');"><em>I</em></ion-text></ion-col>
            <ion-col><ion-text onclick="execCmd('underline');"><ins>U</ins></ion-text></ion-col>
            <ion-col><ion-text onclick="execCmd('strikeThrough');"><del>S</del></ion-text></ion-col>
            <ion-col><ion-text onclick="execCmd('superscript');">X<sup>n</sup></ion-text></ion-col>
            <ion-col><ion-text onclick="execCmd('subscript');">X<sub>n</sub></ion-text></ion-col>
            <ion-col><ion-text onclick="execCommandWithArg('createLink', prompt('Adicione uma URL:', 'http://'));"><ion-icon name="link-sharp" id="icone"></ion-icon></ion-text></ion-col>
            <ion-col><ion-text onclick="execCmd('unlink');"><ion-icon name="unlink-sharp" id="icone"></ion-icon></ion-text></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4" id="colunadafonte">
              <select style="width: 65px" id="inputText" onchange="execCommandWithArg('fontName', this.value);">
                <option value="Times New Roman">Times New Roman</option><option value="Arial">Arial</option>
                <option value="Courier">Courier</option>
                <option value="Georgia">Georgia</option>
                <option value="Tahoma">Tahoma</option>
              </select>
            </ion-col>
            <ion-col>
              <select id="inputText" onchange="execCommandWithArg('fontSize', this.value);">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>
            </ion-col>
            <ion-col><input type="color" onchange="execCommandWithArg('foreColor', this.value);"/></ion-col>
            <ion-col><input type="color" onchange="execCommandWithArg('hiliteColor', this.value);"/></ion-col>
            <ion-col><ion-icon name="image-sharp" onclick="execCommandWithArg('insertImage', prompt('URL da imagem: ', ''));" id="icone"></ion-icon></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12"><p>Texto</p></ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid fixed class="comandosEscondidos">
          <ion-row>
            <ion-col><ion-icon id="icone" name="list-sharp" onclick="execCmd('insertUnorderedList');"></ion-icon></ion-col>
            <ion-col><ion-icon id="icone" src="assets/orderedlist-sharp.svg" onclick="execCmd('insertOrderedList');"></ion-icon></ion-col>
            <ion-col><ion-icon id="icone" name="arrow-back-sharp" onclick="execCmd('undo');"></ion-icon></ion-col>
            <ion-col><ion-icon id="icone" name="arrow-forward-sharp" onclick="execCmd('redo');"></ion-icon></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><ion-icon id="icone" src="assets/alignleft-sharp.svg" onclick="execCmd('justifyLeft');"></ion-icon></ion-col>
            <ion-col><ion-icon id="icone" src="assets/alignright-sharp.svg" onclick="execCmd('justifyRight');"></ion-icon></ion-col>
            <ion-col><ion-icon id="icone" src="assets/aligncenter-sharp.svg" onclick="execCmd('justifyCenter');"></ion-icon></ion-col>
            <ion-col><ion-icon id="icone" src="assets/alignjustify-sharp.svg" onclick="execCmd('justifyFull');"></ion-icon></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12"><p>Organização</p></ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="booleanUsuario" class="comandosEscondidos" fixed>
          <ion-row>
            <ion-col>
              Dir.
              <select id="inputText" [(ngModel)]="trabalho.margemDireita" (click)="mudarTrabalho()">
                <option value="0.5cm">0,5cm</option>
                <option value="1cm">1cm</option>
                <option value="1.5cm">1,5cm</option>
                <option value="2cm">2cm</option>
                <option value="2.5cm">2,5cm</option>
                <option value="3cm">3cm</option>
                <option value="3.5cm">3,5cm</option>
                <option value="4cm">4cm</option>
                <option value="4.5cm">4,5cm</option>
                <option value="5cm">5cm</option>
                <option value="5.5cm">5,5cm</option>
                <option value="6cm">6cm</option>
                <option value="6.5cm">6,5cm</option>
                <option value="7cm">7cm</option>
                <option value="7.5cm">7,5cm</option>
                <option value="8cm">8cm</option>
                <option value="8.5cm">8,5cm</option>
              </select>
            </ion-col>
            <ion-col>
              Esq.
              <select id="inputText" [(ngModel)]="trabalho.margemEsquerda" (click)="mudarTrabalho()">
                <option value="0.5cm">0,5cm</option>
                <option value="1cm">1cm</option>
                <option value="1.5cm">1,5cm</option>
                <option value="2cm">2cm</option>
                <option value="2.5cm">2,5cm</option>
                <option value="3cm">3cm</option>
                <option value="3.5cm">3,5cm</option>
                <option value="4cm">4cm</option>
                <option value="4.5cm">4,5cm</option>
                <option value="5cm">5cm</option>
                <option value="5.5cm">5,5cm</option>
                <option value="6cm">6cm</option>
                <option value="6.5cm">6,5cm</option>
                <option value="7cm">7cm</option>
                <option value="7.5cm">7,5cm</option>
                <option value="8cm">8cm</option>
                <option value="8.5cm">8,5cm</option>
              </select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Topo
              <select id="inputText" [(ngModel)]="trabalho.margemTopo" (click)="mudarTrabalho()">
                <option value="0.5cm">0,5cm</option>
                <option value="1cm">1cm</option>
                <option value="1.5cm">1,5cm</option>
                <option value="2cm">2cm</option>
                <option value="2.5cm">2,5cm</option>
                <option value="3cm">3cm</option>
                <option value="3.5cm">3,5cm</option>
                <option value="4cm">4cm</option>
                <option value="4.5cm">4,5cm</option>
                <option value="5cm">5cm</option>
                <option value="5.5cm">5,5cm</option>
                <option value="6cm">6cm</option>
                <option value="6.5cm">6,5cm</option>
                <option value="7cm">7cm</option>
                <option value="7.5cm">7,5cm</option>
                <option value="8cm">8cm</option>
                <option value="8.5cm">8,5cm</option>
              </select>
            </ion-col>
            <ion-col>
              Baixo
              <select id="inputText" [(ngModel)]="trabalho.margemBaixo" (click)="mudarTrabalho()">
                <option value="0.5cm">0,5cm</option>
                <option value="1cm">1cm</option>
                <option value="1.5cm">1,5cm</option>
                <option value="2cm">2cm</option>
                <option value="2.5cm">2,5cm</option>
                <option value="3cm">3cm</option>
                <option value="3.5cm">3,5cm</option>
                <option value="4cm">4cm</option>
                <option value="4.5cm">4,5cm</option>
                <option value="5cm">5cm</option>
                <option value="5.5cm">5,5cm</option>
                <option value="6cm">6cm</option>
                <option value="6.5cm">6,5cm</option>
                <option value="7cm">7cm</option>
                <option value="7.5cm">7,5cm</option>
                <option value="8cm">8cm</option>
                <option value="8.5cm">8,5cm</option>
              </select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12"><p>Margem</p></ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="booleanInstituicao" class="comandosEscondidos" fixed>
          <ion-row>
            <ion-col>
              Dir.
              <select id="inputText" [(ngModel)]="modelo.margemDireita" (click)="mudarModelo()">
                <option value="0.5cm">0,5cm</option>
                <option value="1cm">1cm</option>
                <option value="1.5cm">1,5cm</option>
                <option value="2cm">2cm</option>
                <option value="2.5cm">2,5cm</option>
                <option value="3cm">3cm</option>
                <option value="3.5cm">3,5cm</option>
                <option value="4cm">4cm</option>
                <option value="4.5cm">4,5cm</option>
                <option value="5cm">5cm</option>
                <option value="5.5cm">5,5cm</option>
                <option value="6cm">6cm</option>
                <option value="6.5cm">6,5cm</option>
                <option value="7cm">7cm</option>
                <option value="7.5cm">7,5cm</option>
                <option value="8cm">8cm</option>
                <option value="8.5cm">8,5cm</option>
              </select>
            </ion-col>
            <ion-col>
              Esq.
              <select id="inputText" [(ngModel)]="modelo.margemEsquerda" (click)="mudarModelo()">
                <option value="0.5cm">0,5cm</option>
                <option value="1cm">1cm</option>
                <option value="1.5cm">1,5cm</option>
                <option value="2cm">2cm</option>
                <option value="2.5cm">2,5cm</option>
                <option value="3cm">3cm</option>
                <option value="3.5cm">3,5cm</option>
                <option value="4cm">4cm</option>
                <option value="4.5cm">4,5cm</option>
                <option value="5cm">5cm</option>
                <option value="5.5cm">5,5cm</option>
                <option value="6cm">6cm</option>
                <option value="6.5cm">6,5cm</option>
                <option value="7cm">7cm</option>
                <option value="7.5cm">7,5cm</option>
                <option value="8cm">8cm</option>
                <option value="8.5cm">8,5cm</option>
              </select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Topo
              <select id="inputText" [(ngModel)]="modelo.margemTopo" (click)="mudarModelo()">
                <option value="0.5cm">0,5cm</option>
                <option value="1cm">1cm</option>
                <option value="1.5cm">1,5cm</option>
                <option value="2cm">2cm</option>
                <option value="2.5cm">2,5cm</option>
                <option value="3cm">3cm</option>
                <option value="3.5cm">3,5cm</option>
                <option value="4cm">4cm</option>
                <option value="4.5cm">4,5cm</option>
                <option value="5cm">5cm</option>
                <option value="5.5cm">5,5cm</option>
                <option value="6cm">6cm</option>
                <option value="6.5cm">6,5cm</option>
                <option value="7cm">7cm</option>
                <option value="7.5cm">7,5cm</option>
                <option value="8cm">8cm</option>
                <option value="8.5cm">8,5cm</option>
              </select>
            </ion-col>
            <ion-col>
              Baixo
              <select id="inputText" [(ngModel)]="modelo.margemBaixo" (click)="mudarModelo()">
                <option value="0.5cm">0,5cm</option>
                <option value="1cm">1cm</option>
                <option value="1.5cm">1,5cm</option>
                <option value="2cm">2cm</option>
                <option value="2.5cm">2,5cm</option>
                <option value="3cm">3cm</option>
                <option value="3.5cm">3,5cm</option>
                <option value="4cm">4cm</option>
                <option value="4.5cm">4,5cm</option>
                <option value="5cm">5cm</option>
                <option value="5.5cm">5,5cm</option>
                <option value="6cm">6cm</option>
                <option value="6.5cm">6,5cm</option>
                <option value="7cm">7cm</option>
                <option value="7.5cm">7,5cm</option>
                <option value="8cm">8cm</option>
                <option value="8.5cm">8,5cm</option>
              </select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12"><p>Margem</p></ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid fixed>
          <ion-row>
            <ion-col><ion-icon *ngIf="booleanUsuario" name="save-sharp" id="icone" (click)="salvarTrabalho()"></ion-icon></ion-col>
            <ion-col><ion-icon *ngIf="booleanInstituicao" name="save-sharp" id="icone" (click)="salvarModelo()"></ion-icon></ion-col>
            <ion-col><ion-icon *ngIf="booleanInstituicao" name="trash-sharp" id="icone" (click)="deletarModelo()"></ion-icon></ion-col>
            <ion-col><ion-icon *ngIf="booleanUsuario" name="trash-sharp" id="icone" (click)="deletarTrabalho()"></ion-icon></ion-col>
            
          </ion-row>
          <ion-row *ngIf="booleanUsuario">
            <ion-col><ion-icon name="people-circle-sharp" id="icone" (click)="openModal()"></ion-icon></ion-col>
            <ion-col><ion-icon name="eye-off-sharp" id="icone" (click)="publicar()"></ion-icon></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12"><p>Opções</p></ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe *ngIf="booleanUsuario" onLoad="enableEditMode();" id="textField" name="textField" seamless="seamless" scrolling="no" frameborder="0" srcdoc="{{trabalho.arquivo}}"></iframe>
  <iframe *ngIf="booleanInstituicao" onLoad="enableEditMode();" id="textField" name="textField" seamless="seamless" scrolling="no" frameborder="0" srcdoc="{{modelo.arquivo}}"></iframe>
</ion-content>
