<ion-header [translucent]="true">
  <ion-toolbar id="barraDeFerramentas">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons class="opcoes" slot="end">
      <ion-item lines="none">
        <ion-label>Para Instituições</ion-label>
      </ion-item>
      <ion-item lines="none"> 
        <ion-label>Para Estudantes</ion-label>
      </ion-item>
      <div style="border-left:1px solid #000;height:35px"></div>
      <ion-item [routerLink]="['/meustrabalhos-system']" lines="none">
        <ion-label>Trabalhos</ion-label>
      </ion-item>
      <ion-item [routerLink]="" lines="none">
        <ion-label>Perfil</ion-label>
      </ion-item>
    </ion-buttons>
    <ion-title [routerLink]="['/homepage-system']">Academic</ion-title>
  </ion-toolbar>
</ion-header>

<ng-template #carregando>
  Carregando Trabalhos...
</ng-template>

<ion-content>
  <section id="cabecalho">
    <ion-text>
      <h1>Trabalhos</h1>
      <div>
        <ion-button expand="block" [routerLink]="['/modelos']">Novo Trabalho</ion-button>
      </div>
    </ion-text>
  </section>

  <section id="Meu_trabalhos">
    <h1>Meus Trabalhos</h1>
  </section>
  

  <ion-grid *ngIf="listaTrabalho | async as trabalho; else carregando">
    <ion-row>
      <ion-col *ngFor="let trab of trabalho" size="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{trab.nome_trabalho}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>{{trab.descricao_trabalho}}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
