// Barra de Ferramentas
#barraDeFerramentas{
    --background: white;
    padding: 0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.250);
    width: 100%;
    padding: 0% 12% 0% 12%;
}
  
ion-menu-button {
    color: #2F77FF;
    display: none;
}
  
#barraDeFerramentas ion-title {
    color: #2F77FF;
    font-weight: 900;
    font-style:italic;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#barraDeFerramentas a{
    text-decoration: none;
}
  
#barraDeFerramentas ion-item {
    color: #344057;
    font-size: 16px;
    box-shadow: none;
    --background: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#barraDeFerramentas .opcoesIcones{
  display: none;
}

//Fundo da página
ion-content {
  --background: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

// Cabeçalho
#cabecalho {
    width: 100%;
    padding: 5% 12%;
    background-color: #2F77FF;
    color: white;
    text-align: center;
  }
  
#cabecalho ion-text h1 {
  font-size: 70px;
  font-weight: 900;
  padding-bottom: 2%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
#cabecalho ion-text div {
  max-width: 700px;
  margin: auto;
  padding: 0;
}

#cabecalho ion-text div p {
  font-size: 16px;
  font-weight: 250;
  text-align: justify;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#cabecalho ion-text div .p_desk{
  display: block;
}

#cabecalho ion-text div .p_mobile{
  display: none;
}

#cabecalho ion-text div ion-button{
  --background: white; 
  --color: #2F77FF;
  --box-shadow: none;
}

#Meu_trabalhos h1 {
  font-size: 55px;
  font-weight: 900;
  margin: 0;
  color: #2F77FF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#trabalhos {
  width: 100%;
  margin: 2% 0 2% 0;
  color: #344057;
}

ion-card {
  height: 350px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  --background: white;
  width: 100%;
}

ion-card-header ion-card-title {
  text-align: center;
  --color: #344057;
  font-size: 20px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ion-card-content ion-card-title{
  text-align: center;
  --color: #344057;
  font-size: 16px;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 1030px) {
  ion-col{
    --ion-grid-columns: 6;
  }
}

@media screen and (max-width: 850px) {
  #barraDeFerramentas .opcoes{
    display: none;
  }
  #barraDeFerramentas .opcoesIcones{
    display: flex;
  }
  #icone {
    color: #2F77FF;
  }
}

@media screen and (max-width: 500px) {
  #barraDeFerramentas{
    padding: 0% 0% 0% 0%;
  }
  
  ion-menu-button {
    display: block;
  }

  #barraDeFerramentas .opcoes{
    display: none;
  }
  #barraDeFerramentas .opcoesIcones{
    display: none;
  }

  #barraDeFerramentas ion-title {
    font-size: 18px;
  }
  #cabecalho ion-text h1{
    font-size: 30px;
    font-weight: 900;
    padding-top: 4%;
  }
  ion-col{
    --ion-grid-columns: 3;
  }
}