<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{tituloModal}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <section id="cabecalho">
    <ion-text>
      <h1>{{trabalho.nome}}</h1>
      <ion-list *ngIf="listaMembros | async as usuario;">
        <ion-item *ngFor="let usu of usuario">
          <ion-label>{{usu.nome}}</ion-label><ion-label>({{usu.email}})</ion-label>

        </ion-item>
      </ion-list>
      <div>
        <p>Descrição: {{trabalho.descricao}}</p>
        <p>Data de Publicação: {{trabalho.dtPublicacao | date: 'shortDate'}}</p>
      </div>
      <p *ngIf="listaTag | async as tag">
        <ion-chip  outline color="white" *ngFor="let tag of tag">
          {{tag.categoria}}
        </ion-chip>
      </p>
    </ion-text>
  </section>
  <iframe id="textField" name="textField" seamless="seamless" scrolling="yes" frameborder="0" srcdoc="{{trabalho.arquivo}}"></iframe>
</ion-content>
