ion-toolbar{
    --background:#344057;
    --color: white;
}

ion-content, ion-list, ion-item {
    --background: white;
    background: white;
    --color: #344057;
}

ion-select, ion-select-option {
    background-color: white;
    --color: #344057;
}