<ion-header [translucent]="true">
  <ion-toolbar id="barraDeFerramentas">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons class="opcoes" slot="end">
      <ion-item lines="none">
        <ion-label>Para Instituições</ion-label>
      </ion-item>
      <ion-item lines="none"> 
        <ion-label>Para Estudantes</ion-label>
      </ion-item>
      <div style="border-left:1px solid #000;height:35px"></div>
      <ion-item href="cadastro" lines="none">
        <ion-label>Cadastrar</ion-label>
      </ion-item>
      <ion-item href="entrar" lines="none">
        <ion-label>Entrar</ion-label>
      </ion-item>
    </ion-buttons>
    <ion-title [routerLink]="['/folder']">Academic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card id="card_cadastro">
    <ion-item id="item_cadastro" lines="none">
      <div class="cad_usuario">
        <h1>Entrar</h1>

        <p>Faça o cadastro para acessar a sua conta no Academic.</p>
        <form>
            <ion-input type="email" required="true" placeholder="E-mail" name="emailUsuario" [(ngModel)]="login.email"></ion-input>
            <ion-input type="password" required="true" clear-on-edit="true" placeholder="Senha" name="senhaUsuario" [(ngModel)]="login.senha"></ion-input>
            <ion-button (click)="entrar()">Entrar</ion-button>
        </form>
        <p>Esqueceu a senha?</p>
        <p>Ainda não possui cadastro? Cadastrar</p>
      </div>
    </ion-item>

    <ion-item id="itemIMG" lines="none"> 
      <img class="img_cadastro" src="../assets/img_login.png">
    </ion-item>
  </ion-card>
</ion-content>
